%flex {
  display: flex;
}

%flex-centr {
  @extend %flex;
  align-items: center;
}

%flex-centr-centr {
  @extend %flex-centr;
  justify-content: center;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-column-centr {
  @extend %flex-column;
  justify-content: center;
}

%flex-column-centr-centr {
  @extend %flex-column-centr;
  align-items: center;
}
