%flex {
  display: flex;
}

%flex-centr {
  @extend %flex;
  align-items: center;
}

%flex-centr-centr {
  @extend %flex-centr;
  justify-content: center;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}
