%flex {
  display: flex;
}

%flex-centr {
  @extend %flex;
  align-items: center;
}

%flex-centr-spacebetween {
  @extend %flex-centr;
  justify-content: space-between;
}

%flex-centr-centr {
  @extend %flex-centr;
  justify-content: center;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-column-centr {
  @extend %flex-column;
  justify-content: center;
}

%flex-column-centr-centr {
  @extend %flex-column-centr;
  align-items: center;
}

%grid-messenger {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 60px;
}


%input-style-reset {
  border: none;
  outline: none;
}
