@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import '@styles/colors';

#root {
  background-color: lightgrey;
  font-family: 'Inconsolata', monospace;
}

.messengerWrapper {
  height: 100%;
  color: white;
}

.messengerContent {
  padding: 10px;
  box-sizing: border-box;
}

.chatItem_active {
  background-color: $messenger-main-color;
}
